// COLORS
$primary-gray: #4a4b4c;
$secondary-gray: #7f7f7f;
$primary-black: #000000;
$primary-white: #fff;
$primary-blue: #7296ec;
$secondary-blue: #2959ce;
$light-blue: #dce6ff;
$secondary-bg: #f6f6f6;

// BREAKPOINTS
$desktop: 1240px;
$tablet-l: 992px;
$tablet: 768px;
$mobile: 576px;
