/* SITE-HEADER */
.site-header {
  @media only screen and (max-width: $tablet) {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 18;
  }

  &__top {
    background-color: $secondary-bg;

    &-inner {
      padding: 30px 0;
      margin-bottom: 10px;
      display: flex;
      align-items: center;

      @media only screen and (max-width: $tablet) {
        padding: 20px 0;
      }
    }
  }

  /* LOGO */
  &__logo {
    margin-right: 35px;

    @media only screen and (max-width: $tablet) {
      margin-right: 15px;
    }
  }

  .logo {
    display: flex;
    &__img {
      max-width: 276px;
      width: 100%;
      height: auto;
      object-fit: contain;
      transition: max-width 0.5s ease;

      @media only screen and (max-width: $tablet) {
        max-width: 240px;
      }

      @media only screen and (max-width: $mobile) {
        max-width: 170px;
      }
    }
  }

  /* CURRENCY RATES */
  .currency-rates {
    display: flex;
    margin-right: auto;

    &__item:not(:last-child) {
      margin-right: 25px;
    }

    &__type {
      color: $secondary-blue;
    }

    @media only screen and (max-width: $tablet) {
      display: none;
    }
  }

  /* GLOBAL SEARCH FORM */
  .global-search-form {
    &__input {
      border: none;
      padding: 14px 10px 14px 40px;
      border-radius: 60px;
      margin-right: 25px;
      background-image: url("../../images/search.svg");
      background-position: 15px center;
      background-repeat: no-repeat;
      background-size: contain;
      background-size: 20px;
    }

    @media only screen and (max-width: $tablet-l) {
      display: none;
    }
  }

  /* LANGUAGE TOGGLER */
  .lang-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-blue;
    border-radius: 50px;
    padding: 3px;
    margin-right: 25px;

    &__link {
      font-size: 13px;
      display: inline-block;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      border-radius: 50%;
      color: $primary-gray;

      &--active {
        color: $primary-black;
        background-color: $primary-white;
      }
      @media only screen and (max-width: $tablet) {
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 11px;
      }
    }
    @media only screen and (max-width: $tablet) {
      margin-left: auto;
    }
  }

  /* SITE HEADER NAV BTN */
  .site-header__nav-toggler {
    display: none;

    @media only screen and (max-width: $tablet) {
      display: inline-block;
      position: relative;
      z-index: 20;
    }
  }

  /* SITE HEADER AUTH BTN */
  .site-header__auth-btn {
    @media only screen and (max-width: $tablet) {
      display: none;
    }
  }

  /* SITENAV */
  .sitenav {
    padding: 12px 0;
    &:not(:last-child) {
      margin-bottom: 40px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      @media only screen and (max-width: $tablet-l) {
        justify-content: center;
      }

      @media only screen and (max-width: $tablet) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__item {
      margin: 4px 0;

      &:not(:last-child) {
        margin-right: 34px;
      }

      @media only screen and (max-width: $tablet) {
        &:not(:last-child) {
          padding-bottom: 7px;
          border-bottom: 1px solid #000;
          width: 100%;
        }
      }
    }

    &__link {
      font-size: 18px;
      font-weight: 500;
      color: $secondary-gray;
      transition: color 0.4s ease, opacity 0.4s ease;

      &:hover {
        color: $primary-blue;
      }

      &:active {
        opacity: 0.6;
      }

      &:focus {
        color: $primary-blue;
      }

      @media only screen and (max-width: $tablet) {
        display: flex;
      }
    }

    @media only screen and (max-width: $tablet) {
      position: fixed;
      z-index: 19;
      top: 0;
      right: -100%;
      max-width: 65%;
      width: 100%;
      height: 100%;
      background-color: #fff;
      padding: 80px 20px 0;
      transition: right 0.5s ease;

      &.show {
        right: 0;
        transition: right 0.5s ease;
      }
    }
  }

  &-banner {
    &__img {
      max-width: 1200px;
      max-height: 128px;
      width: 100%;
      height: auto;
    }

    @media only screen and (max-width: $tablet) {
      display: none;
    }
  }
}
