.notifications-cta {

  &__wrapper {
    margin: 60px 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background: url("../../images/notifications-bgm.png") no-repeat center;
    padding: 25px 70px 25px 45px;
    background-size: cover;
    border-radius: 15px;
    font-weight: 500;
    font-size: 20px;
    color: $primary-black;
  }
}
