/* NEWS GRID */
.news-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-bottom: -10px;
}

.news-grid__item {
  max-width: 393px;
  margin-left: 10px;
  margin-bottom: 10px;

  @media only screen and (max-width: $tablet-l) {
    max-width: 350px;
  }

  @media only screen and (max-width: $tablet) {
    max-width: 320px;
  }

  @media only screen and (max-width: 690px) {
    max-width: none;
    flex-grow: 1;
  }
}

/* ARTICLE CARD */
.article-card {
  padding: 20px 17px 15px;
  background-color: $secondary-bg;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.article-card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.article-card__link {
  color: $primary-black;
  transition: color 0.4s ease, opacity 0.4s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;

  &:hover {
    color: $primary-blue;
  }

  &:active {
    opacity: 0.6;
  }
}

.article-card__description {
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.article-card__img {
  margin-top: auto;
  margin-bottom: 15px;
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.article-card__footer {
  display: flex;
  align-items: center;
}

.article-card-source-time {
  font-size: 12px;
}

.article-card__source-icon {
  margin-right: 10px;
  border-radius: 5px;
}
